input[type="submit"] {
    padding: 5px 10px;
    background-color: #4e6378;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica, Verdana, sans-serif;
}

.owner1_percentage label, .owner2_percentage label {
    font-size: 11px;
}

#ApplicationOwner1Percentage, #ApplicationOwner2Percentage {
    width: 25px;
}

#ApplicationOwner1City, #ApplicationOwner1State, #ApplicationOwner1Zip, #ApplicationOwner1Phone, #ApplicationOwner1Fax, #ApplicationOwner1Dob,
#ApplicationOwner2City, #ApplicationOwner2State, #ApplicationOwner2Zip, #ApplicationOwner2Phone, #ApplicationOwner2Fax, #ApplicationOwner2Dob {
   width: 107px;
}

#ApplicationOwner1Ssn, #ApplicationOwner2Ssn {
   width: 228px;
}
