/*div.ownership_type input, radio {*/
/*    white-space: nowrap;*/
/*}*/

/*label[for="ApplicationOwnershipType0"], label[for="ApplicationOwnershipType3"] {*/
/*    margin-right: 20px;*/
/*}*/

/*label[for="ApplicationOwnershipType1"], label[for="ApplicationOwnershipType4"] {*/
/*    margin-right: 10px;*/
/*}*/

/*#ApplicationOwnershipType3 {*/
/*    display: block;*/
/*    clear: left;*/
/*}*/

input[type="submit"] {
    padding: 5px 10px;
    background-color: #4e6378;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica, Verdana, sans-serif;
}

table.radios label {
    display: inline;
}

#ApplicationMailingCity, #ApplicationMailingState, #ApplicationMailingZip,
#ApplicationLocationCity, #ApplicationLocationState, #ApplicationLocationZip,
#ApplicationMailingPhone, #ApplicationLocationPhone, #ApplicationMailingFax,
#ApplicationLocationFax, #ApplicationCorpContactNameTitle,
#ApplicationLocContactNameTitle, #ApplicationCurrentMidNumber {
   width: 107px;
}

#ApplicationCorpContactName, #ApplicationLocContactName,
#ApplicationFederalTaxid, #ApplicationWebsite, #ApplicationCustomerSvcPhone {
    width: 228px;
}

#ApplicationBusOpenDate, #ApplicationLandlordName, #ApplicationLandlordPhone, #ApplicationLocationTypeOther {
    width: 129px;
}

#ApplicationLengthCurrentOwnership {
    width: 206px;
}

.loc_same_as_corp input {
    width: 10px;
    height: 10px;
}

.loc_same_as_corp label {
    display: inline;
    font-size: 7px;
}
