input[type="submit"] {
    padding: 5px 10px;
    background-color: #4e6378;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica, Verdana, sans-serif;
}

#ApplicationBankCity, #ApplicationBankState, #ApplicationBankZip, #ApplicationTrade1Phone,
#ApplicationTrade1AcctNum, #ApplicationTrade1City, #ApplicationTrade1State,
#ApplicationTrade2Phone, #ApplicationTrade2AcctNum, #ApplicationTrade2City,
#ApplicationTrade2State {
    width: 107px;
}
